{% extends "muziek/base_site.html" %}
{% block title %}Albums: artiesten{% endblock %}
{% block extrastyle %}<!-- <style>.newitem {display: none; visibility: hidden}</style> -->{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/artist_functions.js"></script>
{% endblock %}
{% block content %}
    <hr/>
<form class="regel" name="artists" id="allartists" action="/muziek/artiest/all/update/" method="post">
{% csrf_token %}
<div class="container_16">

    <div class="grid_16 ">
        <div class="grid_8 ">
                <button type="button" id="addartist">Add new</button>
                <button type="button" id="cancel_1">Cancel additions</button>
                <button id="submit_2" type="submit">Update all</button>
                <input id="submit_1" type="submit" value="Update all"/>
                <input type="button" value="Cancel all changes" onclick="reset_form()"/>
        </div>
        <div class="grid_7 ">
                <button type="button" id="selartist">Filter op:</button>
                <input type="text" name="filter" id="filter" value="{{filter}}"/>
        </div>
    </div>
    <div class="clear">&nbsp;</div>

    <div class="grid_16 ">{{meld}}</div>
    <div class="clear">&nbsp;</div>

    <div class="grid_16 label vet" id="artists_kop">
            <div class="grid_2">Voornaam</div>
            <div class="grid_8">Achternaam</div>
            <div class="grid_5">&nbsp;</div>
            <div class="clear">&nbsp;</div>
    </div>
    <div class="grid_16" id="newartist">
    </div><div class="clear">&nbsp;</div>
    {%for x in artiesten%}
    <div class="grid_16">
        <div class="grid_2">
            <input type="text" name="tNaam{{x.id}}" id="tNaam{{x.id}}" value="{{x.first_name}}" size="10" />
        </div>
        <div class="grid_8">
            <input type="text" name="tSort{{x.id}}" id="tSort{{x.id}}" value="{{x.last_name}}" size="40"  />
            <input type="button" value="wijzig" onclick="submitforid('{{x.id}}');return true"/>
        </div>
        <div class="grid_5">&nbsp;</div>
        <div class="clear">&nbsp;</div>
    </div>
    <div class="clear">&nbsp;</div>
    {% endfor %}
</div>
</form>






{% endblock %}
