{% extends "base.html" %}{% load i18n %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
<link rel="stylesheet" type="text/css" href="/styles/960.css" />
<link rel="stylesheet" type="text/css" href="/styles/muziek.css" />
<!--<link rel="stylesheet" type="text/css" href="/media/css/base.css" /> -->
{% block extrastyle %}{% endblock %}{% endblock %}
{% block title %}{{ title|escape }} | {% trans 'Mijn muziek database' %}{% endblock %}
{% block branding %}{%endblock%}
{%block breadcrumbs%}<a href="/">{% trans 'Albums!' %}</a> &rsaquo; <a href="/muziek/" title="startpagina muziek">start</a>
{%if soort and keuze %} &rsaquo; <a href="/muziek/{{soort}}/select/{{keuze}}/{{selitem}}/{{sortorder}}/" title="selecteren">select</a>{%endif%}
{%if nieuw%} &rsaquo; <a href="/muziek/{{soort}}/nieuw/{% if keuze %}{{keuze}}/{{selitem}}/{{sortorder}}/{%endif%}" title="nieuwe opvoeren">nieuw</a>{%endif%}
{%if album%} &rsaquo; <a href="/muziek/{{soort}}/{{album.id}}/{{keuze}}/{{selitem}}/{{sortorder}}/" title="selecteren">detail</a>{%endif%}
{%if artiesten%} &rsaquo; <a href="/muziek/artiest/lijst/" title="">artiestenlijst</a>{%endif%}
{%if artiest%} &rsaquo; <a href="/muziek/artiest/{{artiest}}/" title="">nieuw</a>{%endif%}
{% endblock %}
{% block nav-global %}{% endblock %}
