{% extends "muziek/base_site.html" %}
{% block title %}Albums: detail{% endblock %}
{% block extrastyle %}<!-- <style>.newitem {display: none; visibility: hidden}</style> -->{% endblock %}
{% block extrahead %}
<script type="text/javascript">
function submitforid(value) {
    var str = document.forms["tracks"].action;
    str = str.replace('all', value);
    document.forms["tracks"].action = str;
    document.forms["tracks"].submit();
};
function reset_form() {
    document.forms["tracks"].reset();
};
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var has_newtrack = false;
    var newtrack = '            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
    newtrack += '          <input type="text" name="txtTrack0" size="40" maxlength="200"/>';
    newtrack += '          <input type="text" name="txtBy0" size="40" maxlength="200"/>';
    newtrack += '          <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
    newtrack += '          <textarea name="txtCred0" cols="95" rows="2"></textarea><br/>';
    $('#addtrack').click(function() {
        if (has_newtrack == false)  {
            $('#submit_1').hide();
            $('#cancel_1').show();
            $('#submit_2').show();
            has_newtrack = true;
        };
        $('#newtrack').append(newtrack);
    });
    $('#cancel_1').click(function() {
        $('#newtrack').empty();
        has_newtrack = false;
        $('#submit_1').show();
        $('#cancel_1').hide();
        $('#submit_2').hide();
    });
    $('#cancel_1').hide();
    $('#submit_2').hide();
    var has_newopname = false;
    var newopname = '            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
    newopname += '    <select name="selMed0">';
    newopname += '        <option value="0">-- type --</option>';
    newopname += '        {% for y in o_soort %}<option{%if x.type == y%} selected="selected"{%endif%}>{{y}}</option>{% endfor %}';
    newopname += '    </select>';
    newopname += '    <input type="text" name="txtOms0" size="60" maxlength="100" value="{{x.oms}}"/><br/>';
    $('#addopname').click(function() {
        if (has_newopname == false)  {
            $('#submit_3').hide();
            $('#cancel_2').show();
            $('#submit_4').show();
            has_newopname = true;
        };
        $('#newopname').append(newopname);
    });
    $('#cancel_2').click(function() {
        $('#newopname').empty();
        has_newopname = false;
        $('#submit_3').show();
        $('#cancel_2').hide();
        $('#submit_4').hide();
    });
    $('#cancel_2').hide();
    $('#submit_4').hide();
});
</script>
{% endblock %}
{% block content %}
<div class="container_16">

    <div class="grid_16 ">{{meld}}</div>
    <div class="clear">&nbsp;</div>

    <div class="grid_16 "><b>{{kop}}</b>
    {%if not nieuw%}
        <form action="/muziek/{{soort}}/act/{{act_id}}/" method="post">
            Snel naar een ander {% if album.label%}album{%else%}concert{%endif%} van deze artiest:
            <select name="selAlbum" id="selAlbum" onchange="form.submit()">
                <option value="0">-- selecteer titel --</option>
                {% for x in act_list %}<option value="{{x.id}}">{{x}}</option>{% endfor %}
            </select>
            <input type='hidden' name='keuze' value='{{keuze}}' />
            <input type='hidden' name='selitem' value='{{selitem}}' />
            <input type='hidden' name='sortorder' value='{{sortorder}}' />
        </form><hr/>
    {%endif%}
    </div>
    <div class="clear">&nbsp;</div>

    <!-- <div class="grid_16" id="album"> -->
    {% if nieuw or actie == 'edit' and type == '' %}
        {% include "muziek/wijzigdetails.html" %}
    {% else %}
        {% include "muziek/toondetails.html" %}
    {% endif %}
    <!-- </div>
    <div class="clear">&nbsp;</div> -->

    <div class="grid_16"><hr /></div>
    <div class="clear">&nbsp;</div>

{% if not nieuw %}

    <!-- <div class="grid_16" id="tracks"> -->
    {% if actie == 'edit' and type == 'track' %}
        {% include "muziek/wijzigtracks.html" %}
    {% else %}
        {% include "muziek/toontracks.html" %}
    {% endif %}
    <!-- </div>
    <div class="clear" />&nbsp;</div> -->

    <div class="grid_16"><hr /></div>
    <div class="clear">&nbsp;</div>

    <!-- <div class="grid_16" id="opnames"> -->
    {% if actie == 'edit' and type == 'opname' %}
        {% include "muziek/wijzigopnames.html" %}
    {% else %}
        {% include "muziek/toonopnames.html" %}
    {% endif %}
    <!-- </div>
    <div class="clear">&nbsp;</div> -->

{% endif %}

</div>
{% endblock %}
