{% extends "muziek/base_site.html" %}
{% block title %}Albums: selectie{% endblock %}
{% block extrahead %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/static/selector.js"></script>
{% endblock %}
{% block content %}
<br/>
<b>{{kop}}</b><br/>
<form action="/muziek/{{soort}}/select/{{keuze}}/{{sortorder}}/" method="post">
{% if keuze == "artiest"%}
    Snel naar dezelfde selectie voor een andere artiest:
    <select class="selartiest" id="selartiest" name="selArtiest">
        <option value="0">-- selecteer--</option>
        {% for act in actlist %}
        <option value="{{ act.id }}">{{ act }}</option>
        {% endfor %}
    </select>
    <button type="submit">Go!</button>
{%else%}
{%endif%}
</form>
<hr/>
<div>
    <span class="all">{{meld}}</span>
    {% if sel %}
    {% for item in sel %}
    <span class="left4">&nbsp;</span>
    <span class="right4">
    <a href="/muziek/{{soort}}/{{item.id}}/{{keuze}}/{{selitem}}/{{sortorder}}/">
    {{item}}
    </a><br>
    </span>
    {%endfor%}
    <span class="left4"><br><br/>{% if keuze == 'artiest'  %}Of{%endif%}</span>
    <span class="right4"><br/><br/>
    {%else%}
    <span class="all"><br><br/>
    {%endif%}
    {% if keuze == 'artiest' %}
    <a href="/muziek/{{soort}}/nieuw/{{keuze}}/{{selitem}}/{{sortorder}}/" title="">voer een nieuw
    {% if soort == 'album' %}{{soort}}{%else%}concert{%endif%} op bij deze selectie ({{keuze}})</a>
    {%endif%}
    </span>
</div>
{% endblock %}
