{% extends "muziek/base_site.html" %}
{% block title %}Albums: start{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#selartist').click(function() {
        var dest = "/muziek/artiest/lijst/"
        var filter = $('#filter').val();
        if (filter != "")
            dest += filter + '/';
        document.location=dest;
    });
    // save the original options and their keys
    var all_opts = [];
    $('select.selartiest').children('option').each( function() {
        all_opts [ $( this ).attr('value') ] =  $( this ).html()
    });
    // initiaize the search argument
    var sel = "";
    $('select.selartiest').keyup( function(event) {
        var test = event.which;       // get keycode: 48-57: 0-9; 65-90: a-z; 8 = backspace
        // build/modify the search argument
        if (test == 8) {
            sel = sel.slice(0, -1)
        } else if ((test >= 48 && test <=57 ) || (test >= 65 && test <= 90)) {
            sel += String.fromCharCode(test)
        }
        // rebuild the select options with those containing the search argument
        $(this).empty();
        //~ $(this).append('<option value="0">-- selecteer--</option>')
        for (i in all_opts) {
            if (all_opts[i].toUpperCase().search(sel.toUpperCase()) != -1) {
                $(this).append('<option value="' + i + '">' + all_opts[i] + "</option>");
            };
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div  class="wide">
<span class="all">
<hr />
</span>
</div>
<form action="/muziek/album/select/" method="post">
    <div class="wide" id="sel_album">
	    <span class="left3">Selecteer studio-albums op:</span>
        <span class="right3">
            {%for x in s_keuzes%}
            <input type="radio" name="selZoekS" value="{{x.0}}"{%if x.2%} checked="checked"{%endif%}/>{{x.1}}
            {%if x.0 == "artiest"%}
            <select name="selArtiest" class="selartiest">
                {% for act in actlist %}
                    <option value="{{ act.id }}">{{ act }}</option>
                {% endfor %}
            </select>{%endif%}<br />
            {%endfor%}
            Zoektekst voor 3 - 6: <input type="text" name="txtZoekS" size="60" maxlength="60" />
        </span>
    </div>
    <div> &nbsp; </div>
    <div class="wide" id="sort_album">
        <span class="left">sorteer op:</span>
        <span class="right">
            <select name="selSortS">
            {%for x in s_sorts%}
                <option value="{{x.0}}"{%if x.2%} selected="selected"{%endif%}>{{x.1}}</option>
            {%endfor%}
            </select>
        </span>
    </div>
    <div> &nbsp;</div>
    <div class="wide" id="submit_album">
        <span class="left"> &nbsp;</span>
        <span class="right">
            <input type="submit" value="Selectie uitvoeren" />
            <a href="/muziek/album/nieuw/" title=""><input type="button" value="Nieuw album opvoeren"/></a>
        </span>
    </div>
</form>
<div  class="wide">
<span class="all">
<hr />
</span>
</div>
<form action="/muziek/live/select/" method="post">
    <div class="wide" id="sel_live">
		<span class="left3">Selecteer concert-opnames op:</span>
        <span class="right3">
            {%for x in l_keuzes%}
            <input type="radio" name="selZoekL" value="{{x.0}}"{%if x.2%} checked="checked"{%endif%}/>{{x.1}}
            {%if x.0 == "artiest"%}
            <select name="selArtiest" class="selartiest">
                {% for act in actlist %}
                    <option value="{{ act.id }}">{{ act }}</option>
                {% endfor %}
            </select>{%endif%}<br />
            {%endfor%}
            Zoektekst voor 3 - 5: <input type="text" name="txtZoekL" size="60" maxlength="60" />
        </span>
    </div>
    <div> &nbsp; </div>
    <div class="wide" id="sort_live">
        <span class="left">sorteer op:</span>
        <span class="right">
            <select name="selSortL">
            {%for x in l_sorts%}
                <option value="{{x.0}}"{%if x.2%} selected="selected"{%endif%}>{{x.1}}</option>
            {%endfor%}
            </select>
        </span>
    </div>
    <div> &nbsp;</div>
    <div class="wide" id="submit_live">
        <span class="left">&nbsp;</span>
        <span class="right">
            <input type="submit" value="Selectie uitvoeren" />
            <a href="/muziek/live/nieuw/" title=""><input type="button" value="Nieuwe concertopname opvoeren"/></a>
        </span>
    </div>
</form>
<div  class="wide">
<span class="all">
<hr />
</span>
</div>
<div> &nbsp;</div>
<div class="wide" id="submit_artist">
    <span class="left">&nbsp;</span>
    <span class="right">
        <input type="button" value="Nieuwe artiest opvoeren" onclick="document.location='/muziek/artiest/nieuw/'"/>
        <input type="button" id="selartist" value="Lijst artiesten"/>
        - filter op: <input type="text" id="filter" />
    </span>
</div>
{% endblock %}
