<form class="regel" name="tracks" id="alltracks" action="/muziek/{{soort}}/{{album.id}}/track/all/update/" method="post">
    {% csrf_token %}
    <div class="grid_16" id="tracks_kop">
        <div class="grid_16 label vet">Tracks:
            <a href="/muziek/{{soort}}/{{album.id}}/{{keuze}}/{{selitem}}/{{sortorder}}/" title="">wijzigen afbreken</a>
        </div><div class="clear">&nbsp;</div>
        <div class="grid_16">&nbsp;
            <input type='hidden' name='keuze' value='{{keuze}}' />
            <input type='hidden' name='selitem' value='{{selitem}}' />
            <input type='hidden' name='sortorder' value='{{sortorder}}' />
            <button type="button" id="addtrack">nieuwe toevoegen</button>
            {%if track_list%}
            <input id="submit_1" type="submit" value="Alle tracks updaten"/>
            <!-- <input type="button" value="Cancel changes" onclick="reset_form()"/> -->
            {%endif%}
            <button type="button" id="cancel_1">Cancel additions</button>
            <button id="submit_2" type="submit">Alle tracks updaten</button>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
    {%if track_list %}
    {%for x in track_list%}
    <div class="grid_16">
    {% if x.volgnr < 10 %}&nbsp;{% endif %}
    {{x.volgnr|rjust:"5"}}.&nbsp;
    <input type="text" id="txtTrack{{x.volgnr}}" name="txtTrack{{x.id}}" size="40" maxlength="200" value="{{x.name}}"/>
    <input type="text" id="txtBy{{x.volgnr}}" name="txtBy{{x.id}}" size="40" maxlength="200" value="{{x.written_by}}"/>
    <input type="button" value="wijzig" onclick="submitforid('{{x.id}}');return true"/>
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <textarea id="txtCred{{x.volgnr}}" name="txtCred{{x.id}}" cols="95" rows="2">{{x.credits}}</textarea>
    </div><div class="clear">&nbsp;</div>
    {%endfor%}
    {%endif%}
    <div class="grid_16" id="newtrack">
    </div><div class="clear">&nbsp;</div>
</form>
