<form class="regel" name="opnames" id="allopnames" action="/muziek/{{soort}}/{{album.id}}/opname/all/update/" method="post">
    {% csrf_token %}
    <div class="grid_16" id="tracks_kop">
        <div class="grid_16 label vet" id="opnames_kop">Opnames:
            <a href="/muziek/{{soort}}/{{album.id}}/{%if keuze%}{{keuze}}/{{selitem}}/{{sortorder}}/{%endif%}" title="">Wijzigen afbreken</a></div>
        </div><div class="clear">&nbsp;</div>
        <div class="grid_16">&nbsp;
            <button type="button" id="addopname">nieuwe toevoegen</button>
            <input type='hidden' name='keuze' value='{{keuze}}' />
            <input type='hidden' name='selitem' value='{{selitem}}' />
            <input type='hidden' name='sortorder' value='{{sortorder}}' />
           {%if opn_list %}
            <input id="submit_3" type="submit" value="Alle opnames updaten"/>
            <!-- <input type="button" value="Cancel changes" onclick="reset_form()"/> -->
            {%endif%}
            <button type="button" id="cancel_2">Cancel additions</button>
            <button id="submit_4" type="submit">Alle opnames updaten</button>
        </div>
        <div class="clear">&nbsp;</div>
    {%if opn_list %}
    {%for x in opn_list%}
    <div class="grid_16">
    {% if forloop.counter < 10 %}&nbsp;{% endif %}
    {{forloop.counter|rjust:"5"}}.&nbsp;
    <select name="selMed" id="selMed{{forloop.counter}}">
        <option value="0">-- type --</option>
        {% for y in o_soort %}<option{%if x.type == y%} selected="selected"{%endif%}>{{y}}</option>{% endfor %}
    </select>
    <input type="text" id="txtOms{{forloop.counter}}" name="txtOms" size="60" maxlength="100" value="{{x.oms}}"/>
    </div><div class="clear">&nbsp;</div>
    {%endfor%}
    {%endif%}
    <div class="grid_16" id="newopname">
    </div><div class="clear">&nbsp;</div>
</div>
</form>
